<form class="" action='api/create', method='POST'>
	<input type='text' name='name' placeholder='name'>
	<input type='text' name='slug' placeholder='slug'>
	<button type='submit'>Submit</button>
</form>