<h1> All {{modelName}} </h1>

<table>
	<tr>
		<th>Name</th>
		<th>Edit</th>
	</tr>
	
	{{#each models}}
		<tr>
			<td>{{this.name}}</td>
			<td><a href="id/{{this._id}}">link</td>
		</tr>
	{{/each}}

</table>